body {
    background-color: whitesmoke;
}

#coffee-header{
    text-align: center;
    font-size: 100px;
        background-image: url("img/coffee.jpg");
    background-size: 50%;
    color: antiquewhite;

}

#main_header {
    text-align: center;

    background-color:red ;

}

#menu-heading{
    font-size: 75px;
    text-align: center;
    background-color: ;

}

#add-submit-btn {
    background-color: saddlebrown;
    color: antiquewhite;
}

#query-submit-btn {
    background-color: saddlebrown;
    color: antiquewhite;
}

#coffee-list-background {
    background-color: antiquewhite;
}

#form-container {
    background-color: antiquewhite;
}

