body {
    /*background-image: url("img/coffee.jpg");*/
    /*background-size: 50%;*/

}


#coffee-header{
    text-align: center;
    font-size: 100px;
    /*background-color: lightgrey;*/
    background-image: url("img/coffee.jpg");
    background-size: 50%;

}


#main_header {
    text-align: center;

    background-color:red ;


}

#menu-heading{
    font-size: 75px;
    text-align: center;
    background-color: ;

}